<html>
  <head>
    <title>PAGE POTIN</title>
  </head>
  <body>
    <h1>Voici la page du potin n°<%= params_gossip[2] %></h1>
    <p>
     
		L'auteur: <%= params_gossip[0] %> <br/>
      	Le contenu: <%= params_gossip[1] %> 
    </p>

    <a href="/">revenir à la page d'acceuil</a>

  </body>
</html>